/* src/UpdatePassword.css */
.update-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #8b5d93; /* Optional: background color */
  margin: 0; /* Remove default margin */
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.form-container h2 {
  margin-bottom: 20px; /* Space between title and form elements */
  font-size: 1.5rem;
  color: #333; /* Title color */
}

form input {
  display: block;
  padding: 10px;
  margin: 10px auto; /* Center inputs horizontally */
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 20px); /* Adjust for padding */
}

.update-password-btn {
  width: 100%; /* Full width of the form container */
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.update-password-btn:hover {
  background-color: #0056b3;
}

.cha {
  width: 600px;
  height: auto; 
}
